@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  border: 1px solid red;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
header {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span{
  display: none;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .logo h2 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
header .logo span {
  color: #ff5400;
}

.navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
header .navigation li:first-child a {
  color: #ff5400;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}
.banner .content .banner-text {
  text-align: center;
  max-width: 676px;
  margin: 0 auto;
}
.banner .content .banner-text h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.banner .content .banner-text p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1.5rem;
}
.banner-form fieldset {
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  display: flex;
  align-items: center;
}
label {
  width: 174px;
  height: 52px;
  background-color: #fff;
  margin-right: 24px;
  border: none;
  padding: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
input,
select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.btn {
  padding: 16px 34px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-decoration: none;
  border: none;
}

.popular-tour {
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.col50 p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.col50 ul {
  padding-left: 20px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.col50 ul li {
  margin-bottom: 16px;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.destination {
  margin-top: 100px;
}
.destination h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 24px;
}
.gallery > figure {
  position: relative;
}
.gallery > figure > figcaption {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 800;
}
.gallery > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .gallery-item-1 {
  grid-column: 1 / 7;
}
.gallery .gallery-item-2 {
  grid-column: 7 / -1;
}
.gallery .gallery-item-3 {
  grid-column: 1 / 5;
}
.gallery .gallery-item-4 {
  grid-column: 5/ 10;
}
.gallery .gallery-item-5 {
  grid-column: 10 / -1;
}
.gallery .gallery-item-6 {
  grid-column: 1 / 6;
}
.gallery .gallery-item-7 {
  grid-column: 6/ -1;
}
/* Choose style here */

.section-title h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.section-title p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose-card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.choose-card-container .card {
  width: 570px;
  height: 285px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  margin-top: 48px;
}
.choose-card-container .card * {
  margin: 24px;
}
.discount-image {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 100px;
}
.image1,
.image3 {
  position: relative;
  max-width: 1170px;
  min-height: 500px;
  background-image: url("/Images/Group\ 39.png");
}
.image2 {
  position: relative;
  max-width: 1170px;
  min-height: 500px;
  background-image: url("/Images/Group\ 40.png");
}

.discount-card {
  width: 580px;
  height: 390px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  padding: 52px;
}
.discount-card .span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #424247;
  margin-bottom: 24px;
}
.discount-card > span,
h3,
h4,
p {
  margin-bottom: 24px;
}
.discount-card .btn {
  /* display: inline-block; */
}
.discount-image > .image1 > .discount-card,
.discount-image > .image3 > .discount-card {
  position: absolute;
  top: 56px;
  right: 56px;
}
.discount-image > .image2 > .discount-card {
  position: absolute;
  top: 56px;
  left: 56px;
}
.discount-card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.discount-card h4 {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}
.discount-card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.package-btn {
  display: inline-block;
  width: 20%;
  padding: 13px 21px;
  background-color: #ff5400;
  text-align: center;
  margin: 48px auto;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
}
.perfect-place .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.perfect-place .row .col50 {
  position: relative;
  width: 48%;
}
.perfect-place .row .col50 .videoBx {
  position: relative;
  width: 100%;
  height: 100%;
}
.perfect-place .row .col50 .videoBx video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.perfect-place .row .col50 h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 24px;
}
.perfect-place .row .col50 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.perfect-place .row .col50 ul {
  padding-left: 20px;
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.perfect-place .row .col50 .btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 42px;
}
.contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.contact .contact-details {
  position: relative;
  width: 48%;
  border: 1px solid #ff5400;
  padding: 40px;
  border-radius: 8px;
}
.contact-details .titleText {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.contact-details p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.contact-details .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact .contactForm .inputBox input {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactForm .inputBox input[type="submit"] {
  font-size: 20px;
  color: #fff;
  background: #ff5400;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  font-weight: 800;
  border: none;
  cursor: pointer;
}
hr {
  margin-bottom: 24px;
  background: #131318;
  height: 1px;
}
.contact .contact-image{
  position: relative;
  width: 670px;
  height: 420px;
  margin-left: 20px;
  background-image: url("/Images/Rectangle\ 88.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.contact .contact-image .save{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 46px;
  right: 4px;
  /* width: 315px;
  height: 110px; */
  background-color: #ff5400;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  transform: rotate(-19.628deg);
  padding: 20px 40px;
}
.save .saveTitle {
  color: #FFF;
font-size: 24px;
font-weight: 400;
}
.save .saveDes{
font-size: 32px;
font-weight: 800;
}

footer{
  text-align: center;
  background: rgba(19, 19, 24, 0.05);
  padding: 50px;
  margin-top: 100px;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .logo h2 {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
footer .logo span {
  color: #ff5400;
}
.footer-content{
  max-width: 872px;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
}
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}